<nav>
  <% if candidate_signed_in? && current_candidate.candidate_profile.present? %>
    <%= link_to 'Meu perfil', candidate_profile_path(current_candidate.candidate_profile.id) %>
    <% if current_candidate.candidate_profile.complete?%>
      <%= link_to 'Vagas', jobs_path %>
    <% else %>
      <span>Você deve completar seu perfil para ter acesso as vagas!</span>
    <% end %>
    <%= link_to 'Minhas candidaturas', job_applications_path%>
  <% end %>  
</nav>