<h1>Minhas propostas:</h1>
<% if @job_proposals.empty?%>
    <p>Você ainda não possui nenhuma proposta!</p>
<% end %>
<% @job_proposals.each do |job_proposal| %>
   <h3><%= link_to job_proposal.job_application.job.title, job_proposal_path(job_proposal.id) %></h3>
<% end %>
<%= link_to 'Voltar', root_path %>